doctype html
html
  head
  body(width='100%', style='margin: 0; mso-line-height-rule: exactly; background-color: #FFF;')
  h1 Reset Your Password
  <p>Use this code <span style='color:blue'>#{ResetData.resetCode}</span> to verify your account</p>